body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: rgb(33, 88, 92);
}

.site-title{
    color: rgb(147, 206, 206);
}

#my-image{
    box-shadow: 0 2px 1px black;
}

li{
    list-style: square;
}

li:nth-child(odd) {
    background-color: rgb(147, 206, 206);
}

a:link{
    background-color: lightcyan;
}

a:link{
    color: rgb(33, 88, 92);
}