/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************************
                      CSS BEGINS
*********************************************************/

/* media query to set minimum width on screen*/
@media screen and (min-width: 760px){


html{
	color: black;
	/* moved open-sans up to the begining to prioritize it as it is the font we want to use */
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* setting max width for container */
body{
	max-width: 1200px;
}

/* setting font size and weight to all headers of page */
header{
	font-size: 80px;
	font-weight: bold;
}

h1{
	font-size: 60px;
	font-weight: bold;
}

h2{
	font-size: 60px;
	font-weight: bold;
}

h3{
	font-size: 40px;
	font-weight: bold;
}

h4{
	font-size: 40px;
	font-weight: bold;
}

h5{
	font-size: 40px;
	font-weight: bold;
}

h6{
	font-size: 40px;
	font-weight: bold;
}
/* h7 is not working for some reason. it won't let me target it */


/* all targets below are to add yellow background and format of the page */
.first{
	border: 5px solid #ffe6ac;
	background-color: #ffe6ac;
}

.second{
	border: 5px solid #ffe6ac;
	background-color: #ffe6ac;
}

.third{
	border: 5px solid #ffe6ac;
	background-color: #ffe6ac;
}

.fourth{
	border: 5px solid #ffe6ac;
	background-color: #ffe6ac;
}

.fifth{
	border: 5px solid #ffe6ac;
	background-color: #ffe6ac;
}

.container{
	display:flex;
	flex-direction: column;
	justify-content: left;
	column-gap: 10px;
}
}
